<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>dediced.com</title>
  <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
  <meta http-equiv="Content-Language" content="en-US" />
</head>
<body style="margin: 0;
padding: 0;
font-family: arial, helvetica, sans-serif;
font-size: 12px;
background: #fff;">
	<div id="message_container" style="border-radius: 0px; margin: 30px auto;width: 600px; border: 1px solid #ddd; box-shadow: 0px 0px 15px #aaa">
			<div id="header" class="fixed_top" style="background: #eee">
				<span class="logo">
					<a style="height: 80px;" href="/">
						<img src="http://dediced.com/assets/logo_dediced.png" height="80px" alt="dediced.com" />
					</a> 

				</span>
				<span class="banner" style="margin-top: 23px;font-size: 37px;color: #777;">
				</span>
			</div>
			<div id="message_box" style="
			    background: #fff;
			    padding: 20px 20px 10px 20px;
				color: #333;">
				<div id="message_content" style="width: 90%;
				margin-left: 20px;
				margin-right: auto;
				margin-top: 10px;
				margin-bottom: 10px; color: #555">
					Thanks for the waiting! Now we are ready to serve you with our exclusive bookmarking platform.</div>		

					<p>Please click <%= link_to "here", @sign_up_url%> to sign up!</p>
				
					<p>Or use the following link <%= @sign_up_url%></p>
					<p> Please note that only the latest invitation sent from us has been enabled.</p>
					<p> Welcome aboard! <p>
					<p> The Dediced team</p>
				</div>
				<div id="message_footer" style="color: #aaa;
				font-weight: bold;
				font-size: 85%;
				clear: both;
				margin-top: 20px;
				text-align: right;"><span> info@dediced.com &copy; 2011-2012 .Dediced LLC All rights reserved.</span> 
				</div>
			</div>
	</div>	
</body>
</html>

