<% content_for :head do %>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$.each($('.label-prepopulate'), function(i,v){
				$(v).labelPrepopulate();
			})
			
			
			$('.sign-up-submit-button').click(function(e){
				e.preventDefault(e);
				$('#email').validates_sign_up_email();
				if ($('.invalid').length==0){
					// alert('yay!');
					$.ajax({
						url:"/api/pre_user/create.json?email="+$('#email').val(),
						beforeSend: function(){
							$('#sign-up-wrapper').loading();
						},
						success: function(data){
							$('#sign-up-wrapper').unloading();
							$('#sign-up-wrapper').html(data.message);
						}
					})
				}
			});			
		})
		
		jQuery.fn.validates_sign_up_email = function(){
			var root = this;
			var value = $(this).val();
			var url = '/search_pre_user_by_email.json';
			if (value == ''){
				$(root).populateInputHint("email cannot be blank", -1);
			}
			else{
				var emailReg = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/; //^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
				if (!emailReg.test(value)){
					$(root).populateInputHint("invalid email", -1);
				}
				else{
					$.ajax({
						dataType: "json",
						url: url+'?email='+value,
						beforeSend: function(){
							$(root).addClass('progress');
						},
						error: function(){
							$(root).populateInputHint("Oops, ajax request failed, please try again", -1);
						},
						success: function(json){
							var taken = 0;
							$(root).removeClass('progress');					
							$.each(json, function(){						

								if(value == this.pre_user.email){

									taken = 1;
								}
							});			

							if (taken == 1){
								$(root).populateInputHint("It seems like you've already subscribed!", -1);
							}
							else{
								$(root).populateInputHint("Complete!", 1);
							}
						},
						// complete: function(){
						// }
					});
				}
			}
		}
	</script>
<% end %>

<% content_for :top_header do%>
	sign up
<% end %>

<div id="sign-up-wrapper">
	<div class="label-prepopulate sign-up-field">
		<%= label_tag :email %>
 		<%= text_field_tag :email, params[:email]%>
	</div>
	<%= submit_tag "sign up", :class=>"sign-up-submit-button" %>
</div>